<div class="login-status-header">
    <div style="color: #808080" *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}!
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="btn-login-status">Login  <i class="fa fa-sign-in" aria-hidden="true"></i></button>

    <button *ngIf="isAuthenticated" (click)="logout()" class="btn-login-status">Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></button>

    <button *ngIf="isAuthenticated" routerLink="/members" class="btn-login-status ml-1">Member  <i class="fa fa-users" aria-hidden="true"></i></button>

    <!-- <button *ngIf="isAuthenticated" routerLink="/order-history" class="btn-login-status ml-1">Orders  <i class="fa fa-list-ol" aria-hidden="true"></i></button> -->
</div>
